<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/green1.jpeg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Best Saree Tassel Desgins</h1>
            <p>1+ Million Subscribers<br>
                Extreme video watch by viewer per day<br>
                Gudience for brillient and custom designs<br>
                Recevied award and appreciations for best talent work</p>
            <a class="btn btn-primary" href="https://www.google.co.in/search?q=nandana+creations+saree+kuchu+designs&client=safari&sxsrf=AOaemvKDToG617X69_ve8FOpwJ0zc51G1Q:1630528479771&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjzoNT2z97yAhX8FVkFHWELDPAQ_AUoAXoECAEQAw&biw=1440&bih=792">Explore Design</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body" style="background-color: cadetblue;" >
            <p class="text-white m-0" style="font-size: xx-large;">Do Subscribe the channel to become a best designer</p></div>
    </div>
