
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

<div class="container">
    <h1>User Registration page</h1>
    <form #login="ngForm"(ngSubmit)="submit(login)">
        <div class = "form-group">
            <label for="firstname">Firstname</label>
            <input #name="ngModel" required minlength="2" maxlength="30" type="text" name="firstname" class= "form-control" ngModel>
            <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger">Enter your Firstname</div>
            <p *ngIf="name.errors.required">Firstname is required</p> -->
        </div>
        <div class = "form-group">
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" class= "form-control">
        </div>
        <div class = "form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class= "form-control">
        </div>
        <div class = "form-group">
            <label for="password">Password</label>
            <input type="text" name="password" class= "form-control">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>

</div>