<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Silk Thread tazzel</h2>
                <p class="card-text">Decorate with a tassel with golden and silk threads.<br>
                    Easy understandable for making tazzel on clothing especially on silk sarees.<br>
                    Tutorial guides to decoration and implementation process.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://www.youtube.com/channel/UCLWNUehGYT9-E7pph5FeDxw/videos">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Beads Thread tazzel</h2>
                <p class="card-text">Decorate with a tassel with golden and silk threads.<br>
                    Easy understandable for making tazzel on clothing especially on silk sarees.<br>
                    Tutorial guides to decoration and implementation process.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://www.youtube.com/channel/UCLWNUehGYT9-E7pph5FeDxw/videos">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Pearls Thread tazzel</h2>
                <p class="card-text">Decorate with a tassel with golden and silk threads.<br>
                    Easy understandable for making tazzel on clothing especially on silk sarees.<br>
                    Tutorial guides to decoration and implementation process.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://www.youtube.com/channel/UCLWNUehGYT9-E7pph5FeDxw/videos">More Info</a></div>
        </div>
    </div>
</div>

<div class="card text-white my-5 py-4 text-center">
    <div class="center">
        <video width="320" height="240" controls style="align-content: center;">
            <source src="assets/KuchV.mp4" type="video/mp4">
            <!-- <source src="assets/yellow.m3u" type="video/mp4"> -->
        </video>
    </div>
</div>
